.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  width: 100vw;
  height: 500px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
thead > tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}
.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}
.content-table tbody tr:nth-of-type(odd) {
  background-color: #e2e2e2;
}
.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}
.false {
  display: none;
}
